/* .container {
	border:1px solid black;
	background-color:white;
	width: 100%;
}



.nav-wrapper{
	background-color: #ffffff;
	padding-right: 117px;
	color: black;
}
.right {
	margin-top: 20px;
}


 */
.nav-wrapper__navigation li{
	display: inline-block;

} 
.col{
	margin: 0;

}
header{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.nav-wrapper__navigation a{
	display: block;
	padding: 0 15px;

}
.header__cart-icon{
	padding-top:20px;

}
.button_hiden-menu{
	color: #000;
}

.pngQ {
	height: ;
	padding: 0;
}

.pngW {
	width: 100%;
	padding: 0;
}

.pngE {
	padding: 0;
}

.pngR {
	width: 100%;
	padding: 0;
}

.banner_main_img {
	padding: 0;
	background-image: url("../images/1-+-heder.png");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.banner_main_img , .banner_main_info{
	height:600px;
}
.banner_main_info {
	padding: 0;
	background-image: url("../images/Page 1.png");

}