
body{
	min-width: 320px !important;
}
.container_row, .banner>.row{
	margin: 0 !important;
	padding: 15px 0 !important;
}
.col{
	margin: 0 !important;
}
.nav-wrapper__navigation li{
	display: inline-block;
} 

header{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav-wrapper__navigation a{
	display: block;
	padding: 0 10px;
	margin:0 7px;
	border-bottom:1px dashed gray;
	color:#000;
}
.nav-wrapper__navigation a:hover{
	border-bottom:1px dashed #2890e3;
	color:#2890e3;
}


.header__cart-icon{
	padding-top:17px;
}
.header__cart-icon a:hover {
	color:#2890e3;
}
.button_hiden-menu{
	color: #000;
}

.main__banner__img{
	height: 634px;
	background-image: url(../../src/images/banner.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-color: #dce2e5;
	/* background-size: cover;
	 */
}
.wrapper{
/* 	 width: 335px;  */

}
.wrapper>h3{
/* 	width: 400px; */
	color: #3b4449;
}
.cash_delivering{
	border: 1px dashed;
}
.test-img{


}
/*  .delivering__header{
	position: relative;
	top: 75px;
	z-index: 2;
}
.delivering__header h1{
	background-color:#fff;
	width: px;
}  */
/* .banner_main {
	background-color: #dce2e5;
}
.banner_main_img {
	float: right;
	padding: 0;
	background-image: url("../../src/images/banner-img.png");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
} */
/* .banner_main_img , .banner_main_info{
	height:600px;
} */
/* .banner_main_info {
	padding: 0;
	background-image: url("../../src/images/banner-bg.png");
	color:#fff;
} */
/*  .banner_main-info_button{
	display: block;
	margin:0 auto;
	color:#fff;
	text-align: center;
	padding: 10px;
	background-color: red;
	width: 180px;
	text-transform: uppercase;
}  */

.banner__main_info__wrapper{
/*	width: 35%;
	float: right;*/
/*	position: absolute;
	top: 300px;*/
}


.sample {
	display: inline-block;
}