
body{
	min-width: 320px !important;
}
.container_row{
	margin: 0 !important;
	padding: 15px 0 !important;
}

.nav-wrapper__navigation li{
	display: inline-block;
} 

header{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav-wrapper__navigation a{
	display: block;
	padding: 0 10px;
	margin:0 7px;
	border-bottom:1px dashed gray;
	color:#000;
}
.nav-wrapper__navigation a:hover{
	border-bottom:1px dashed #2890e3;
	color:#2890e3;
}


.header__cart-icon{
	padding-top:17px;
}
.header__cart-icon a:hover {
	color:#2890e3;
}
.button_hiden-menu{
	color: #000;
}
.banner_main_img {
	padding: 0;
	background-image: url("../../src/images/banner-img.png");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.banner_main_img , .banner_main_info{
	height:600px;
}
.banner_main_info {
	padding: 0;
	background-image: url("../../src/images/banner-bg.png");
	color:#fff;
}
 .banner_main-info_button{
	display: block;
	margin:0 auto;
	color:#fff;
	text-align: center;
	padding: 10px;
	background-color: red;
	width: 180px;
	text-transform: uppercase;
} 

.banner__main_info__wrapper{
	width: 100%;
}


/*Pecheniuk Популярная продукция*/
.pop-production{
	padding: 10px 5px 10px 5px;
}


.collapse-margine{
	margin: -20px 0;
}

.container-padding{
	padding: 50px 0;
}

.flex-pupular_main{
	display:  flex;
	justify-content: space-around; 
	align-content: stretch;
  flex-direction: row;
  height: 100%;
}

 .flex-item_main{
  display:  flex;
	justify-content: space-around; 
	align-content: stretch;
  flex-direction: row;
  height: 100%;
} 
  }

 @media only screen and (max-width: 992px) {
  .flex-pupular_main{
    flex-wrap: wrap; 
  }
}
 @media only screen and (max-width: 500px) {
  .flex-item_main{
    flex-wrap: wrap; 
  }
  .container-padding{
	padding: 20px 0;
}
}

/*Pecheniuk*/